@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');



body{
font-family: 'Montserrat', sans-serif;
font-size: 14px;
font-weight: 300;
background: #C33764;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  border-bottom: 1px solid rgb(8, 125, 142,0.5);
  background: rgb(8, 125, 142,0.5);
  color: white;
  font-weight: 700;
  padding: 1em;
  font-size: 1em;
  text-transform: uppercase;
  margin: 0;
}

ul {
  list-style: none;
  padding:0;
  margin: 0;
}

li{
  height: 40px;
  line-height: 40px;
  background: #f7f7f7;
}

li:nth-child(2n) {
  background: #fff;
}

li:hover .delete{
  width: 40px;
  transition: 0.2s linear;
  opacity: 1;
}

li p {
  margin-right: 20px;
}

input {
  font-size: 1.2em;
  width: 100%;
  display: flex;
  color: #404040;
  border: none;
  height: 40px;
  padding: 0 0 0 1.2em;
  box-sizing: border-box;
}

input:focus{
  border: 3px solid rgb(8, 125, 142,0.5);
}

input::placeholder {
  font-size: 1.2em;
  color: #737373;
  font-weight: 400;
}

#container {
  max-width:400px;
  margin: 100px auto;
  background: #f7f7f7;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  overflow: hidden;
}

.checked {
  color:#D97197;
  text-decoration: line-through;
}

.delete {
  background: #F27979;
      box-sizing: border-box;
      color: #fff;
      height: 40px;
      width: 0px;
      text-align: center;
      display: inline-block;
      margin-right: 20px;
      opacity: 0;
}



.fa-plus {
  float: right;
}
